.about{
    min-height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    justify-content: center;
   // background-color: rgb(247, 140, 58);  
    

    .about__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        //gap: 5px;
        flex-wrap: wrap;
    }

    &__left,
    &__right{
        width: 45%;
    }

    &__title{
        margin: 0;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgb(252, 41, 4);
    }
    
    &__subtitle{
        margin: 0 0 5px;
        font-size: 1.1em;
        font-weight: 600;
        color: rgb(252, 41, 4);
        letter-spacing: 0.01em;
    }
    &__skills {
        margin: 0 0 5px;
        font-size: 1.1em;
        font-weight: 600;
        color:rgb(209, 203, 203);
        letter-spacing: 0.01em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    &__links{
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
        gap: 20px;
        display: flex;
    }
    
    &__icon{
        font-size: 2em;
        fill:rgb(252, 41, 4);
        transition: .3s ease;

    &:hover{
        transform: scale(1.2);
        fill: rgb(209, 203, 203);
    }
    }
    &__poem{
        color: rgb(252, 41, 4);
        font-weight: 600;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    &__cta{
        display: inline-block;
        background-color: rgb(252, 41, 4); 
        padding: 10px 35px;
        border-radius: 6px;
        color: rgb(236, 229, 229);
        transition: .3s ease;

    &:hover{
        background-color: rgb(236, 229, 229);
        color:#fc2904;
    }
    }

    .me{
        width: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 15px 5px #0f0d0d;
        
    }
}

    
@media screen and (max-width:768px){
    .about{
        padding: 5vh 0;

        &__left,
        &__right{
            width: 100%;
            text-align: center;
        }

        &__right{
            order: -1;
            padding: 5vh 0;
        }

        &__links{
            justify-content: center;
        }
    }
}
 


