.contacts{
    &__container{
        display: flex;
  align-items: center;
  flex-wrap: wrap;
    }

    h1{
        text-align: center;
    }

    &__col{
        width: 550px;
    }

    form{
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    label{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    input{
        width: 100%;
        padding: 10px 15px;
    }

    input,
    input[type="submit"],
    textarea{
        border: 1px solid black;
        border-radius: 5px;
    }

    input[type="submit"]{
        background-color: rgb(250, 116, 7);
        color: black;
        padding: 10px 15px;
        cursor: pointer;
        font-family: 'Kaushan Script', cursive;
    }

    input:disabled{
        background: lightgrey;
        border-color: lightgrey;
        color: rgb(39, 36, 36);
        cursor: default;        
    }

    textarea{
        height: 150px;
        width: 100%;
        resize: none;
        padding: 5px 10px;
    }

    &__error{
        padding: 0px 15px;
        background-color: red;
        color: white;
        border-radius: 5px;
    }

    .leaflet-container{
        height: 400px; // use px only, otherwise there will be no map, even if to use %. 
        width: 500px;
    }
  
}

@media screen and (max-width:1080px) {
    .contacts{
        &__container{
           flex-direction: column;
           gap: 30px;
        }   
        
        &__col{
            width: 100%;
        }

        form{
            width: 50%;
        } 
        
        .leaflet-container{
            width: calc(100vw - 30px);
            height: 400px;
        }
    }
}

@media screen and (max-width:768px) {
    .contacts{
        form{
            width: 100%;
        }      
    }
}

