.navbar{
    background-color: rgb(250, 116, 7);
    padding: 5px 0;

    &__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__logo{
        position: relative;
        animation-name: runFeet;
    }

    &__name{
        position: relative;
        left:-250px;
        font-size:1.3em
    }

   


    &__toggle{
        display: none;
    }

    &__menu{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__menu-link{
        color:#fff;
        transition: 0.2s ease;
        text-transform: capitalize;
        &.active,
        &:hover{
            color: rgb(252, 41, 4);
        }
    }    
}
@keyframes runFeet{
    0%{
        rotate: 90px;
    }
    100%{
        rotate: 90px;
    }
}


@media (max-width:1000px),(max-width:992px), (max-width:768px), (max-width:480px), (max-width:320px){
    .navbar{
        &__toggle{
            display:block; 
        }
        &__menu{
            display: none;
        &--show{
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 100%;
        }
        }
    }
}

